body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 70%;
  }
  
  .jumbotron {
    text-align: center;
    /* background-color: transparent; */
    background: url("https://patch.com/img/cdn20/users/22992871/20180627/094635/styles/raw/public/processed_images/northern_lights-1530107173-7486.jpg?width=725");
    background-size: cover;
    color: whitesmoke;
    text-shadow: -1px 0 rgb(147, 6, 241), 0 1px black;
    border-radius: 0;
    border-bottom: 10px double black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;

  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    width: 15%;
    padding-top: 15px;
  }
  
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  }
  
  .future {
    background-color: #77dd77;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    width: 15%;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
